footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    top: 15rem;
}

.footer_container {
    max-width: 1300px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}
.footer_container .text_map_section {
    display: flex;
}
.footer_container .text_map_section .left_section {
    justify-content: start;
}
.footer_container .text_map_section .left_section ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
}
.footer_container .text_map_section .left_section ul li a {
    text-decoration: none;
    color: var(--white-color);
}
.footer_container .text_map_section .left_section ul li a:hover {
    color: var(--red-color-lighter);
    transition: all 0.3s;
}
.footer_container .text_map_section .left_section ul li a img {
    width: 250px;
}

.footer_container .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}
.footer_container .text_map_section .section .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer_container .text_map_section .section .contact a {
    color: var(--white-color);
    font-size: 20px;
    text-decoration: none;
}
.footer_container .text_map_section .section .contact a:hover {
    text-decoration: underline;
}
.footer_container .text_map_section .section .social_media_contact {
    display: flex;
    gap: 1rem;
}
.footer_container .text_map_section .section .fa-solid {
    font-size: 2rem;
}
.footer_container .text_map_section .section .fa-brands {
    font-size: 2.5rem;
    color: var(--white-color);
}
.footer_container .text_map_section .right_section {
    flex-grow: 1;
}

.footer_container .text_map_section .right_section iframe {
    width: 100%;
    border-radius: 10px;
}
.footer_container .copyright_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
}