footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.footer_container {
    max-width: 1300px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}
.footer_container .text_map_section {
    display: flex;
}
.footer_container .text_map_section .left_section {
    justify-content: start;
}
.footer_container .text_map_section .left_section ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
}
.footer_container .text_map_section .left_section ul li a {
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.3s;
}
.footer_container .text_map_section .left_section ul li a:hover {
    color: var(--red-color-lighter);
}
.footer_container .text_map_section .left_section ul li a img {
    width: 250px;
    transition: transform 0.3s ease;
}
.footer_container .text_map_section .left_section ul li a img:hover {
    transform: scale(1.025);
}

.footer_container .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}
.footer_container .text_map_section .section .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer_container .text_map_section .section .contact a {
    color: var(--white-color);
    font-size: 20px;
    text-decoration: none;
}
.footer_container .text_map_section .section .contact i:hover + a,
.footer_container .text_map_section .section .contact a:hover {
    text-decoration: underline;
}

.footer_container .text_map_section .section .social_media_contact {
    display: flex;
    gap: 1rem;
}
.footer_container .text_map_section .section .fa-solid {
    font-size: 2rem;
    cursor: pointer;
}
.footer_container .text_map_section .section .fa-brands {
    font-size: 2.5rem;
    color: var(--white-color);
    transition: transform 0.3s ease;
}
.footer_container .text_map_section .section .fa-brands:hover {
    transform: scale(1.25);
}

.footer_container .text_map_section .section .social_media_contact .fa-brands.fa-instagram:hover {
    background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer_container .text_map_section .section .social_media_contact .fa-brands.fa-facebook:hover {
    color: #1877F2;
}

.footer_container .text_map_section .right_section {
    flex-grow: 1;
}

.footer_container .text_map_section .right_section iframe {
    width: 100%;
    border-radius: 10px;
}
.footer_container .copyright_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
}