:root {
    --white-color: #fff;
    --white-color-shadow-01: rgba(255,255,255,0.1);
    --red-color-lighter: #FE344E;
    --red-color: #B91F33;
    --red-color-shadow-01: rgba(185, 31, 51, 0.2);
    --main-background: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    background: url(../images/background-grain.png),
                var(--main-background);
}

.box_glass_effect {
    background: rgba(36, 36, 36, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 4px 20px var(--white-color-shadow-01);
}

.text_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 60%,
        var(--red-color) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 60%,
        var(--red-color) 100%
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 7px;
}

.red_line {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 60%,
        var(--red-color) 100%
    );
    width: 500px;
    height: 5px;
    display: block;
    margin: 0 auto;
}