:root {
    --white-color: #fff;
    --white-color-shadow-01: rgba(255,255,255,0.1);
    --red-color-lighter: #FE344E;
    --red-color: #B91F33;
    --red-color-shadow-01: rgba(185, 31, 51, 0.2);
    --main-background: #242424;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    background: url(../images/background-grain.png),
                var(--main-background);
    background-attachment: fixed;
}

.box_glass_effect {
    background: rgba(36, 36, 36, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 4px 20px var(--white-color-shadow-01);
}

.box_glass_effect_red {
    background: rgba(36, 36, 36, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--red-color);
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
}

.text_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 60%,
        var(--red-color) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 60%,
        var(--red-color) 100%
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 7px;
}

.decoration_red_line {
    background: linear-gradient(
        to right,
        transparent 0%,
        var(--red-color-lighter) 40%,
        var(--red-color) 80%,
        transparent 100%
    );
    width: 70%;
    height: 5px;
    display: block;
}

.right_photo_clip, .left_photo_clip {
    object-fit: cover;
    object-position: center;
}
.right_photo_clip {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
}
.left_photo_clip {
    clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
}

.title {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    display: inline-block;
}

.text {
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    font-size: 20px;
    line-height: 1.5;
    display: inline-block;
}

.one_section_left_side {
    order: 1;
}

.one_section_right_side {
    order: 2;
    display: flex;
    justify-content: flex-end;
}

#arrow_top_scroll {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 100%;
    z-index: 999;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    
}
#arrow_top_scroll.active {
    opacity: 1;
    pointer-events: auto;
}
#arrow_top_scroll:hover {
    background-color: var(--red-color);
}

.fa-solid.fa-angles-up {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white-color);
    width: 56px;
}


main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_container {
    max-width: 1300px;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}
.main_container .one_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
}
.main_container .one_container h1 {
    font-size: 50px;
}

.main_container .one_container .one_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main_container .one_container .one_section .text_section {
    padding: 2rem 3rem;
    width: 66%;
    z-index: 10;
    text-align: center;
    transition: all 0.3s;
}

.main_container .one_container .one_section .text_section h1 {
    font-size: 60px;
}

.main_container .one_container .text_section h2 {
    font-size: 40px;
}

.main_container .one_container .one_section .photo_group {
    width: 34%;
}

.main_container .introduction {
    margin-top: 80px;
}

