header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 1rem;
    font-family: 'Anton', sans-serif;
    z-index: 9999;
}

.navbar_container {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}   
.navbar_container .header_logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
.navbar_container .header_logo a {
    height: 150%;
    margin-bottom: 3px;
}
.navbar_container .header_logo a img {
    height: 100%;
    transition: transform 0.3s ease;
}
.navbar_container .header_logo a img:hover {
    transform: scale(1.025);
}

.navbar_container .ham_menu {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
    padding-left: 1rem;
    cursor: pointer;
}
.navbar_container .ham_menu span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--white-color);
    transition: all 0.3s;
}

.navbar_container nav {
    height: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_container nav ul {
    display: flex;
    gap: 1rem;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar_container nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.navbar_container nav ul li:last-child {
    padding-right: 0 !important;
}
.navbar_container nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.3s;
}
.navbar_container nav ul li a:hover {
    color: var(--red-color-lighter);
}
.navbar_container nav ul li:last-child a {
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
.navbar_container nav ul li:last-child a:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}