main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_container {
    max-width: 1300px;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    overflow: hidden;
}
.main_container .introduction {
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.main_container .introduction .text_section {
    padding: 2rem 3rem;
    display: inline-block;
    width: 66%;
    z-index: 10;
    text-align: center;
    height: auto;
}
.main_container .introduction .text_section h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 60px;
    color: var(--white-color);
}

.main_container .introduction .photo_group {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    margin-right: 180px;
    
}

.main_container .introduction .photo_group img {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
}