.main_container .one_container .one_section_price_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 4rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}