.fc {
    width: 80%;
    font-family: 'Anton', sans-serif;
    color: var(--white-color);
    margin: 0 auto;
}
.fc .fc-toolbar.fc-header-toolbar {
    width: 90%;
    margin: 1rem auto;
}

/* ŠIPKY doleva a doprava */
.fc .fc-button-group > .fc-button {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
.fc .fc-button-group > .fc-button:hover {
    border: 1px solid var(--red-color);
}
.fc .fc-button-group > .fc-button:focus {
    outline: none;
    box-shadow: none;
}
.fc .fc-button-group > .fc-button:focus-visible {
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
    border: 1px solid var(--red-color);
}

/* DEN - TÝDEN button */
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background: transparent;
    border: 1px solid var(--red-color);
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
}
.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    outline: none;
    box-shadow: none;
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
}
.fc .fc-button-primary:not(:disabled).fc-button-active:hover, .fc .fc-button-primary:not(:disabled):active:hover {
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
}

/* TODAY button */
.fc-direction-ltr .fc-toolbar > * > :not(:first-child):not(:disabled) {
    background: var(--red-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child):not(:disabled):hover {
    background: var(--red-color-lighter);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    background: transparent;
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* KALENDÁŘNÍ MŘÍŽKA */
.fc .fc-view-harness {
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.fc-theme-standard .fc-scrollgrid {
    background-color: var(--white-color);
    color: black;
}

/* víkend */
.fc-day-sat, 
.fc-day-sun {
  background-color: #cacaca;
}

/* dnešní den */
.fc-day-today {
    background-color: var(--red-color-lighter);
}
.fc .fc-timegrid-col.fc-day-today {
    background-color: #ffabb6;
}
.fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
    background-color: var(--red-color-lighter);
}


.rezervation_formular form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px !important;
}

.client_info_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

.rezervation_formular form .client_info_row .inputBox {
    position: relative;
}

.rezervation_formular form .client_info_row .inputBox input,
.rezervation_formular form .client_info_row .inputBox textarea {
    padding: 1rem;
    outline: none;
    font-size: 1.1rem;
    color: var(--white-color);
}

.rezervation_formular form .client_info_row .inputBox input:focus,
.rezervation_formular form .client_info_row .inputBox input:not(:placeholder-shown),
.rezervation_formular form .client_info_row .inputBox textarea:focus,
.rezervation_formular form .client_info_row .inputBox textarea:not(:placeholder-shown) {
    border: 1px solid var(--red-color-lighter);
}

.rezervation_formular form .client_info_row .inputBox input:focus + label,
.rezervation_formular form .client_info_row .inputBox input:not(:placeholder-shown) + label,
.rezervation_formular form .client_info_row .inputBox textarea:focus + label,
.rezervation_formular form .client_info_row .inputBox textarea:not(:placeholder-shown) + label{
    top: -13px;
    left: 34px;
    font-size: 16px !important;
    border: 1px solid var(--red-color-lighter);
    padding: 1px 3px;
    background: var(--red-color-lighter);
    border-radius: 20px;
}

.rezervation_formular form .client_info_row .inputBox label {
    position: absolute;
    top: 12px;
    left: 20px;
    cursor: text;
    transition: all 0.3s ease-out;
    border-radius: 20px;
}

.rezervation_formular form .client_info_row .inputBox.notes {
    width: 100%;
}

.rezervation_formular form .client_info_row .inputBox.notes textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.rezervation_formular form button {
    padding: 1rem;
    border: 1px solid var(--red-color-lighter);
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
    background: transparent;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.rezervation_formular form button:hover {
    background-color: var(--red-color-lighter);
    cursor: pointer;
}