:root {
    --white-color: #fff;
    --white-color-shadow-01: rgba(255,255,255,0.1);
    --red-color-lighter: #FE344E;
    --red-color: #B91F33;
    --red-color-shadow-01: rgba(185, 31, 51, 0.2);
    --main-background: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/background-grain.png),
                var(--main-background);
}

.box_glass_effect {
    background: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 4px 20px var(--white-color-shadow-01);
}

.text_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 60%,
        var(--red-color) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 60%,
        var(--red-color) 100%
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

/* ****
    HEADER
**** */
header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 1rem;
    font-family: 'Anton', sans-serif;
    z-index: 999;
}

.navbar_container {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}   
.navbar_container .header_logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
.navbar_container .header_logo a {
    height: 150%;
}
.navbar_container .header_logo a img {
    height: 100%;
}

.navbar_container .ham_menu {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
    padding-left: 1rem;
    cursor: pointer;
}
.navbar_container .ham_menu span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--white-color);
    transition: all 0.5s;
}

.navbar_container nav {
    height: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_container nav ul {
    display: flex;
    gap: 1rem;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar_container nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.navbar_container nav ul li:last-child {
    padding-right: 0 !important;
}
.navbar_container nav ul li a {
    text-decoration: none;
    color: var(--white-color);
}
.navbar_container nav ul li a:hover {
    color: var(--red-color-lighter);
    transition: all 0.3s;
}
.navbar_container nav ul li:last-child a {
    border: 1px solid var(--red-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
}
.navbar_container nav ul li:last-child a:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

/* ****
    FOOTER
**** */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    top: 15rem;
}

.footer_container {
    max-width: 1300px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}
.footer_container .text_map_section {
    display: flex;
}
.footer_container .text_map_section .left_section {
    justify-content: start;
}
.footer_container .text_map_section .left_section ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
}
.footer_container .text_map_section .left_section ul li a {
    text-decoration: none;
    color: var(--white-color);
}
.footer_container .text_map_section .left_section ul li a:hover {
    color: var(--red-color-lighter);
    transition: all 0.3s;
}
.footer_container .text_map_section .left_section ul li a img {
    width: 250px;
}

.footer_container .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}
.footer_container .text_map_section .section .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer_container .text_map_section .section .contact a {
    color: var(--white-color);
    font-size: 20px;
    text-decoration: none;
}
.footer_container .text_map_section .section .contact a:hover {
    text-decoration: underline;
}
.footer_container .text_map_section .section .social_media_contact {
    display: flex;
    gap: 1rem;
}
.footer_container .text_map_section .section .fa-solid {
    font-size: 2rem;
}
.footer_container .text_map_section .section .fa-brands {
    font-size: 2.5rem;
    color: var(--white-color);
}
.footer_container .text_map_section .right_section {
    flex-grow: 1;
}

.footer_container .text_map_section .right_section iframe {
    width: 100%;
    border-radius: 10px;
}
.footer_container .copyright_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
}