:root {
    --white-color: #fff;
    --white-color-shadow-01: rgba(255,255,255,0.1);
    --red-color-lighter: #FE344E;
    --red-color: #B91F33;
    --red-color-shadow-01: rgba(185, 31, 51, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    background-color: black;
}

.box_glass_effect {
    background: rgba(36, 36, 36, 0.4) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 4px 20px var(--white-color-shadow-01);
}

.text_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 0%,
        var(--red-color-lighter) 70%,
        var(--red-color) 70%,
        var(--red-color) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline_color_gradient {
    background: linear-gradient(
        to right,
        var(--red-color-lighter) 0%,
        var(--red-color-lighter) 70%,
        var(--red-color) 70%,
        var(--red-color) 100%
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

/* ****
    HEADER
**** */
header {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 1rem;
}

.navbar_container {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}   
.navbar_container .header_logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    background: transparent;
}
.navbar_container .header_logo a {
    height: 150%;
    background: transparent;
}
.navbar_container .header_logo a img {
    height: 100%;
    background: transparent;
}

.navbar_container .ham_menu {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
    padding-left: 1rem;
    background: transparent;
    cursor: pointer;
}
.navbar_container .ham_menu span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--white-color);
    transition: all 0.5s;
}

.navbar_container nav {
    height: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.navbar_container nav ul {
    display: flex;
    gap: 1rem;
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar_container nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background: transparent;
}
.navbar_container nav ul li:last-child {
    padding-right: 0 !important;
}
.navbar_container nav ul li a {
    text-decoration: none;
    background: transparent;
    color: var(--white-color);
}
header .navbar_container nav ul li:last-child a {
    border: 1px solid var(--red-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: inset -20px -20px 20px var(--red-color-shadow-01),
                inset 20px 20px 20px var(--red-color-shadow-01);
}