@media (max-width: 930px) {
    /* ****
        HEADER
    **** */
    .navbar_container .ham_menu {
        display: flex;
    }
    .navbar_container .ham_menu.active > span:first-child{
        transform: rotate(45deg) translate(6px, 4px);
        transition: all 0.5s;
    }
    .navbar_container .ham_menu.active > span:nth-child(2) {
        opacity: 0;
    }
    .navbar_container .ham_menu.active > span:last-child {
        transform: rotate(-45deg) translate(7px, -5px);
        transition: all 0.5s;
    }

    .navbar_container nav {
        height: auto;
        width: 100%;
        padding: 1rem 0;
        position: absolute;
        top: 96px;
        left: 0;
        display: none;
    }
    .navbar_container nav.active {
        display: flex;
    }
    .navbar_container nav ul {
        flex-direction: column;
    }
    .navbar_container nav ul li:last-child {
        padding: 0 1rem !important;
    }
}