.main_container section:nth-of-type(3) {
    text-align: center;
}

.operating_hours.one_container .one_section{
    gap: 2rem;
    align-items: start;
}

.operating_hours_next_services.one_container .one_section {
    flex-wrap: wrap;
}

.main_container .one_container .one_section .text_section .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main_container .one_container .one_section .text_section .wrapper .blok p:nth-of-type(2) {
  font-weight: bold;
}

.operating_hours_sharp_skating,
.operating_hours_food_service {
    flex: 0 0 calc(50% - 1rem);
}

.operating_hours_skate_rental {
    flex: 0 0 100%;
}