@media (max-width: 1030px){
    .main_container .one_container .one_section .text_section h1 {
        font-size: 50px;
    }
}

@media (max-width: 900px){
    .main_container .one_container .one_section .text_section h1 {
        font-size: 40px;
    }
    
    .right_photo_clip, .left_photo_clip {
        width: 700px;
    }
}


@media (max-width: 800px){
    .main_container .one_container .one_section .photo_group {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 1;
        height: 600px;
        overflow: hidden;
    }
    .main_container .one_container .one_section .text_section {
        order: 2;
        width: 90%;
        padding: 2rem;
        margin-top: -50px;
    }
    
    .main_container .one_container .one_section {
        flex-direction: column;
        align-items: center;
    }

    .right_photo_clip, .left_photo_clip {
        height: 100%;
        width: 80%;
    }
}

@media (max-width: 576px){
    .main_container .one_container h1,
    .main_container .one_container .one_section .text_section h1 {
        font-size: 41px;
    }
    .right_photo_clip, .left_photo_clip {
        width: 70%;
    }
}

