@media (max-width: 930px) {
    .navbar_container .ham_menu {
        display: flex;
    }
    .navbar_container .ham_menu.active > span:first-child{
        transform: rotate(45deg) translate(6px, 4px);
    }
    .navbar_container .ham_menu.active > span:nth-child(2) {
        opacity: 0;
    }
    .navbar_container .ham_menu.active > span:last-child {
        transform: rotate(-45deg) translate(7px, -5px);
    }

    .navbar_container nav {
        height: auto;
        width: 100%;
        padding: 1rem 0;
        position: absolute;
        top: -300px;
        left: 0;
        z-index: 999;
        background: rgb(36, 36, 36);
        transition: all 0.3s ease;
    }
    .navbar_container nav.active {
        top: 96px;
    }
    .navbar_container nav ul {
        flex-direction: column;
    }
    .navbar_container nav ul li:last-child {
        padding: 0 1rem !important;
    }
}