@media (max-width: 1300px) {
    .main_container .one_section .text_section h1 {
        font-size: 55px;
    }
}

@media (max-width: 1230px) {
    .main_container .one_section .text_section {
        width: 76%;
    }

    .main_container .one_section .photo_group {
        width: 24%;
    }
}

@media (max-width: 1080px) {
    .main_container .one_section .text_section h1 {
        font-size: 50px;
    }
    .main_container .one_section .text_section {
        width: 81%;
    }

    .main_container .one_section .photo_group {
        width: 19%;
    }
}
@media (max-width: 1080px) {
    .main_container .one_section {
        flex-direction: column;
        align-items: center;
    }
    .main_container .one_section .text_section {
        width: auto;
        order: 2;
    }

    .main_container .one_section .photo_group {
        width: 100%;
        margin-bottom: -140px;
        margin-right: 0;
        order: 1;
    }
}
@media (max-width: 768px) {
    .main_container .one_section .text_section h1 {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .main_container .one_section .text_section h1 {
        font-size: 36px;
    }
}