@media (max-width: 800px) {
    .operating_hours_sharp_skating, .operating_hours_food_service, .operating_hours_skate_rental {
        width: 100%;
    }

    .operating_hours.one_container .one_section {
        gap: 5rem !important;
    }

    .main_container .one_container .one_section .text_section {
        order: 2;
        width: 90%;
        padding: 2rem;
        margin-top: -50px;
    }

    .main_container .introduction.one_container .one_section .text_section {
        order: 2;
        width: 90%;
        padding: 2rem;
        margin-top: -230px;
    }
}
