@media (max-width: 942px){
    .main_container .one_container .text_section .row {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .main_container .one_container .text_section .row .wrapper {
        width: 100%;
    }
}