@media (max-width: 850px){
    .rezervation_formular .text {
        font-size: 20px;
    }
    .rezervation_formular .title {
        font-size: 30px;
    }
}
@media (max-width: 740px){
    .fc .fc-toolbar.fc-header-toolbar {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
        order: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .modal_window .rezervation_formular form .client_info_row {
        flex-direction: column;
        gap: 0.5rem;
    }

    .modal_window .rezervation_formular form .client_info_row .inputBox input {
        width: 100%;
    }

    .modal_window {
        padding: 2rem 1rem;
    }

    .rezervation_formular .title {
        font-size: 24px;
    }

    .modal_window .modal_box_head .form_head .cross {
        height: 20px;
        width: 20px;
        padding: 17px;
    }

    .modal_window .modal_box_head .form_head .cross span {
        width: 20px;
    }

    .modal_window .rezervation_formular form .client_info_row .inputBox input, .modal_window .rezervation_formular form .client_info_row .inputBox textarea {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .modal_window .rezervation_formular form .client_info_row:nth-child(3){
        font-size: 16px;
    }

    .modal_window .rezervation_formular form button {
        padding: 0.5rem;
    }

    .modal_window .rezervation_formular form {
        gap: 0.7rem;
    }

    .modal_window .rezervation_formular {
        gap: 1rem;
    }

    .modal_window .rezervation_formular form .client_info_row .inputBox label {
        font-size: 16px;
        top: 7px;
    }

    .modal_window .rezervation_formular form .client_info_row .inputBox input:focus + label,
    .modal_window .rezervation_formular form .client_info_row .inputBox input:not(:placeholder-shown) + label,
    .modal_window .rezervation_formular form .client_info_row .inputBox textarea:focus + label,
    .modal_window .rezervation_formular form .client_info_row .inputBox textarea:not(:placeholder-shown) + label{
        left: 22px;
        font-size: 13px !important;
    }

    .rezervation_formular .text {
        font-size: 16px;
    }

}


@media (max-width: 566px){
    .client_info_row {
        justify-content: center;
    }

    /* nezalomení hlavičky "po 11.4." při responzivitě */
    .day-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px){
    .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
        order: 2;
    }

    .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
        order: 1;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        justify-content: center;
    }

    
}


@media (max-height: 625px){
    .modal_window {
        width: 900px;
    }
    .modal_window .rezervation_formular form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .modal_window .rezervation_formular form button:nth-of-type(1){
        order: 5;
        width: calc(50% - 0.5rem);
    }
    .modal_window .rezervation_formular form .client_info_row:nth-of-type(1){
        margin-bottom: 13px;
    }
    .modal_window .rezervation_formular form .client_info_row:nth-of-type(2){
        margin-top: 13px;
        height: 54px;
    }

    .modal_window .rezervation_formular form .client_info_row:nth-child(3){
        order: 4;
        align-items: center;
        width: calc(50% - 0.5rem);
    }

    .modal_window .rezervation_formular form .client_info_row:nth-child(4){
        order: 3;
        margin-top: -82px;
    }

    #error_message {
        order: 6;
        width: 100%;
    }

    .modal_window .rezervation_formular form .client_info_row .inputBox.notes {
        display: flex;
    }
}